/* #region Common Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

a {
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
    display: inline-block;
}

button {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

p {
    font-weight: 300;
    color: gray;
}
/* #endregion Common Rules */

/* #region Utilities */
:root {
    --dark: #000000;
    --primary: #0061FF;
    --secondary: #B4D0E7;
    --dark_light: #F5F5F5;
    --light: #FFFFFF;
    --palette_01: #A2D39B;
    --palette_02: #61082B;
    --palette_03: #0093CE;
    --palette_04: #FF1C1C;
    --palette_05: #D5001F;
    --palette_06: #B4D0E7;
    --palette_07: #0D2481;
    --palette_08: #FFD830;

}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.position_relative {
    position: relative;
}

.space_between {
    justify-content: space-between;
}

.link {
    text-decoration: underline;
    color: var(--primary);
    cursor: pointer;
}

.flex {
    display: flex;
}

/* #endregion Utilities */

/* #region flex grid */
.container {
    width: 80%;
    max-width: 1195px;
    margin: 0 auto;
}

.container_fluid{
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}
/* #endregion flex grid */

/* #region debug */
.debug {
    max-width: 1920px;
}
/* #endregion debug */

/* #region button */
.btn {
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
    padding: 0.5rem 1rem;
}

.btn a {
    color: var(--light);
}

.btn_card {
    width: 100%;
}

.btn_partner {
    color: gray;
    background-color: var(--light);
    border: 1px solid gray;
}

.btn_team_enterprise {
    padding: 0.5 3rem;
}

.btn_free_trial {
    color: gray;
    background-color: var(--light);
    padding: 0.5rem 2rem;
}
/* #endregion button */

/* #region header navbar + jumbotron */
 
/* navbar */
#navbar {
    padding: 1.5rem 1.1rem;
    background-color: var(--light);
}

#navbar .col-6 {
    display: flex;
    align-items: center;
}

.m_left {
    margin-left: 2rem;
}

.m_right {
    margin-right: 2rem;
}

#navbar span {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem;
}

#navbar .col-6:last-child {
    justify-content: end;
}

/* jumbotron */
#jumbotron {
    background-color: var(--secondary);
    padding-top: 5rem;
}

#jumbotron h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5rem;
}

#jumbotron .col-4 {
margin-top: 2.5rem;
}

.img_jumbotron {
    position: absolute;
    top: 2.5rem;
    right: 0;
}

#jumbotron .btn {
    margin: 1.5rem 0;
}

.effect_up_down {
    margin-top: 5rem;
    margin-bottom: 1rem;
}


#jumbotron i {
    font-size: 3rem;
}

#jumbotron .effect_up_down:hover {
    animation-duration: 1s;
    animation: updown 2s infinite;
    position: relative;
}


@keyframes updown {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

/* #endregion header navbar + jumbotron */

/* #region mainpage contens */
main .col-10 {
    justify-content: center;
    align-items: center;
}
/* pricing */
#pricing {
    padding-top: 10rem;
}

h2 {
    font-size: 2.5rem;
}

#pricing .invoicing {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.invoicing span {
    padding-right: 1.5rem;
}

.checked {
    color: var(--dark_light);
    border: 5px solid var(--primary);
    border-radius: 50%;
}

.unchecked {
    color: var(--dark);
}

#pricing > .row > .col-10 > .row {
    justify-content: space-between;
    margin: 0 -1rem;
}

.card_pricing {
    border: 1px solid rgb(179, 179, 179);
    margin: 0 1rem;
    position: relative;
}

.main_info {
    margin-top: -0.1rem;
}

.card_vh {
    height: 80vh;
}

.users {
    text-align: center;
    padding: 0.4rem;
    font-size: 0.8rem;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.info_plan {
    padding: 2rem 2rem;
}

h3 {
    font-size: 1.5rem;
    color: var(--dark);
}

h4 {
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: var(--dark);
}

.info_plan {
    font-size: 0.9rem;
    color: gray;
}

.card_info {
    position: absolute;
    top: 20%;
    left: 2rem;
    right: 2rem;
}

.share.flex > i, .cloud.flex > i, .accounts.flex > i {
    margin-right: 0.4rem;
}

.accounts {
    margin-top: 2.5rem;
}

.cloud, .share, .accounts {
    padding-bottom: 1rem;
}

.info_plan i {
    color: var(--dark);
}

.share {
    padding-bottom: 2.5rem;
}

.buy_now {
    margin: 1rem 0;
}

#pricing ul {
    list-style: none;
    padding: 0;
}

#pricing li {
    padding-left: 1.3em;
    padding-bottom: 1rem;
}

#pricing li:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: var(--primary);
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.card_info h4 {
    padding-bottom: 1.5rem;
}

.card_info hr {
    margin-bottom: 2rem;
    margin-top: 3rem;
    width: 20%;
    color: gray;
}

#team_enterprise {
    padding: 2rem 0;
}

#team_enterprise h4 {
    padding-bottom: 2.5rem;
}
/* partner contact us */
#partner {
    padding: 4rem 0;
}

#partner .col-10 {
    display: flex;
    align-items: flex-start;
}

#partner .col-4 {
    padding: 2rem;
}

#partner p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* claim dropbox business */
#dropbox_business .col-10 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#dropbox_business h2 {
padding: 3rem 0;
}

#dropbox_business .col-4 {
    padding: 0.5rem;
}

#dropbox_business p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* dropbox business users */
#dropbox_business_users {
    padding: 8rem 0;
}

#dropbox_business_users h2 {
    padding: 3rem 0;
}

/* casehistory */
#casehistory {
    background-color: var(--dark_light);
}

.brand {
    display: flex;
    flex-wrap: wrap;
}

.review {
    padding: 2rem;
}

.review img {
    width: 50%;
}

.review hr {
    width: 20%;
    margin: 3rem 0;
}

#casehistory .col-4 {
    aspect-ratio: 1/1;
}

#casehistory .col-6 {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#casehistory .col-6:hover{
border: 20px solid  rgba(255, 255, 255, 0.487);
}

#casehistory .col-6:active{
    border: 20px solid  rgba(255, 255, 255, 0.487);
}

#casehistory .col-6 > img{
    width: 60%;
    filter: invert(100%);
}

.palette_01 {
    background-color: var(--palette_01);
}

.palette_02 {
    background-color: var(--palette_02);
}

.palette_03 {
    background-color: var(--palette_03);
}

.palette_04 {
    background-color: var(--palette_04);
}

.palette_05 {
    background-color: var(--palette_05);
}

.palette_06 {
    background-color: var(--palette_06);
}

.palette_07 {
    background-color: var(--palette_07);
}

.palette_08 {
    background-color: var(--palette_08);
}

/* bring dropbox business in your agency */
#bring_dropbox {
    background-color: var(--secondary);
    padding: 6rem;
}

#bring_dropbox .col-6.right {
    display: flex;
    flex-direction: row-reverse;
}

#bring_dropbox .col-6.right > a {
    align-self: flex-start;
}

/* faq */
#faq {
    padding: 8rem 0;
}

#faq h2 {
    padding-bottom: 3rem;
}

#faq hr {
    color: rgb(184, 11, 11);
}

#faq p {
   display: none;
   padding-bottom: 2rem;
   padding-top: 1rem;
}

#faq .question:hover i {
    color: var(--primary);
    transform: rotate(180deg)
}

#faq .question:hover p {
    display: block;
}

.question {
    padding: 1.2rem 0;    
}

.head_question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* #endregion mainpage contens */

/* #region footer */
footer {
    background-color: var(--dark);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

footer a, footer h4 {
    color: var(--light);
}

footer h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

footer a {
    font-size: 0.8rem;
    padding: 0.4rem 0;
}

footer .col-2 {
    display: flex;
    flex-direction: column;
}

footer .col-10 {
    padding: 5rem 0 1.5rem 0;
}

footer hr {
    width: 10%;
}

footer span {
    margin-top: 2rem;
    display: inline-block;
    color: var(--dark_light);
    font-size: 0.8rem;;
}

/* #endregion footer */