/* #region Common Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

a {
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
}

button {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
p {
    font-weight: 300;
    color: gray;
}
/* #endregion Common Rules */

/* #region Utilities */
:root {
    --dark: #000000;
    --primary: #0061FF;
    --secondary: #B4D0E7;
    --dark_light: #F5F5F5;
    --light: #FFFFFF;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.position_relative {
    position: relative;
}

.space_between {
    justify-content: space-between;
}

.link {
    text-decoration: underline;
    color: var(--primary);
    cursor: pointer;
}
/* #endregion Utilities */

/* #region flex grid */
.container {
    width: 80%;
    max-width: 1195px;
    margin: 0 auto;
}

.container_fluid{
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}
/* #endregion flex grid */

/* #region debug */
.debug {
    max-width: 1920px;
}
/* #endregion debug */


/* #region button */
.btn {
    background-color: var(--primary);
    color: var(--light);
    text-align: center;
    padding: 0.5rem 1rem;
}

.btn a {
    color: var(--light);
}

.btn_card {
    width: 100%;
}

.btn_partner {
    color: gray;
    background-color: var(--light);
    border: 1px solid gray;
}
/* #endregion button */

/* #region header navbar + jumbotron */
 
/* navbar */
#navbar {
    padding: 1.5rem 1.1rem;
    background-color: var(--light);
}

#navbar .col-6 {
    display: flex;
    align-items: center;
}

.m_left {
    margin-left: 2rem;
}

.m_right {
    margin-right: 2rem;
}

#navbar span {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 1rem;
}

#navbar .col-6:last-child {
    justify-content: end;
}

/* jumbotron */
#jumbotron {
    background-color: var(--secondary);
    padding-top: 5rem;
}

#jumbotron h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5rem;
}

#jumbotron .col-4 {
margin-top: 2.5rem;
}

.img_jumbotron {
    position: absolute;
    top: 2.5rem;
    right: 0;
}

#jumbotron .btn {
    margin: 1.5rem 0;
}


#jumbotron i {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
/* #endregion header navbar + jumbotron */

/* #region mainpage contens */
main .col-10 {
    justify-content: center;
    align-items: center;
}
/* pricing */
#pricing {
    padding-top: 10rem;
}

h2 {
    font-size: 2.5rem;
}

#pricing .invoicing {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.invoicing span {
    padding-right: 1.5rem;
}

.checked {
    color: var(--dark_light);
    border: 5px solid var(--primary);
    border-radius: 50%;
}

.unchecked {
    color: var(--dark);
}

#pricing > .row > .col-10 > .row {
    justify-content: space-between;
    margin: 0 -2rem;
}

.card_pricing {
    border: 2px solid gray;
    margin: 0 2rem;
}

.users {
    text-align: center;
    padding: 0.4rem;
    font-size: 0.8rem;
    border-bottom: 2px solid gray;
}

.info_plan {
    padding: 2rem 1.5rem;
}

h3 {
    font-size: 1.5rem;
    color: var(--dark);
}

h4 {
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: var(--dark);
}

.info_plan {
    font-size: 0.8rem;
    color: gray;
}

.accounts {
    margin-top: 2.5rem;
}

.cloud, .share, .accounts {
    padding-bottom: 1rem;
}

.info_plan i {
    color: var(--dark);
}

.share {
    padding-bottom: 2.5rem;
}

.buy_now {
    margin: 1rem 0;
}

#team_enterprise {
    padding: 3rem 0;
}

/* partner contact us */
#partner {
    padding: 4rem 0;
}

#partner .col-10 {
    display: flex;
    align-items: flex-start;
}

#partner .col-4 {
    padding: 2rem;
}

#partner p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* claim dropbox business */
#dropbox_business .col-10 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#dropbox_business h2 {
padding: 3rem 0;
}

#dropbox_business .col-4 {
    padding: 0.5rem;
}

#dropbox_business p {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* dropbox business users */
#dropbox_business_users {
    padding: 10rem 0;
}

#dropbox_business_users h2 {
    padding: 3rem 0;
}



/* bring dropbox business in your agency */
/* faq */

/* #endregion mainpage contens */
